server {
    listen          8123;
    server_name     127.0.0.1;
    access_log      /var/log/nginx/{{ lighthouse_access_log }}.log  main;

    location / {
        root        {{ lighthouse_dir }};
        index       index.html;
    }

}
